git "git@bitbucket.org:kkendall33/carswaddleui.git"
git "git@bitbucket.org:kkendall33/carswaddledata.git"
github "stripe/stripe-ios"
github "evgenyneu/Cosmos" ~> 18.0
github "airbnb/lottie-ios" "master"

