git "https://kkendall33@bitbucket.org/kkendall33/carswaddleui.git"
git "https://kkendall33@bitbucket.org/kkendall33/carswaddlenetworkrequest.git"
git "https://kkendall33@bitbucket.org/kkendall33/authentication.git"
git "https://kkendall33@bitbucket.org/kkendall33/carswaddledata.git"

