<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347911426066-vg8a92ss4dfg9ittb1dkqvssll8gda3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347911426066-vg8a92ss4dfg9ittb1dkqvssll8gda3r</string>
	<key>API_KEY</key>
	<string>AIzaSyB0ICFO0NquawhymPLkaA1nBoR2pualvnk</string>
	<key>GCM_SENDER_ID</key>
	<string>347911426066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carswaddle.carswaddle</string>
	<key>PROJECT_ID</key>
	<string>car-swaddle</string>
	<key>STORAGE_BUCKET</key>
	<string>car-swaddle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:347911426066:ios:68a43982dff4b673</string>
	<key>DATABASE_URL</key>
	<string>https://car-swaddle.firebaseio.com</string>
</dict>
</plist>
