git "https://kkendall33@bitbucket.org/kkendall33/carswaddlenetworkrequest.git"
git "https://kkendall33@bitbucket.org/kkendall33/authentication.git"
git "https://kkendall33@bitbucket.org/kkendall33/carswaddlestore.git"

